<div class="navbar">

    <div class="toolbar">
        <div routerLink="/home" style="cursor: pointer;">
            <img class='image logim' src="/assets/White Chem Logo nob.png">
        </div>

        <nav>
            <a routerLink="/python" class="navitem" style="margin-right: 16px; margin-left: 16px;">GO to Python</a>
            <a routerLink="/note" class="navitem" style="margin-right: 16px; margin-left: 16px;">Note</a>
        </nav>

        <div style="width: 78%;"></div>

        <nav style="cursor: pointer;">
            <div routerLink="/homedk" class="langchange">🇩🇰 Dansk/Danish</div>
        </nav>

        
    </div>


</div>